.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  overflow: hidden;

  .floating-video {
    animation: float 3s ease-in-out infinite;
    width: 150px;
    height: 100px;
    background-color: #212121;
    border: 1px #000 solid;
    position: absolute;
  }
}

@keyframes float {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: -10px;
  }
}
