$trackColor: var(--primary-color);

.timeline {
  margin-top: 14px;
  .MuiSlider-track {
    background-color: $trackColor;
  }
  .MuiSlider-thumb {
    width: 4px;
    border-radius: 0px;
    margin-left: 0px;
    background-color: $trackColor;
    .MuiSlider-valueLabel {
      > span {
        background-color: $trackColor;
      }
    }
  }
  .time-label {
    user-select: none;
  }
}
