.video-studio {
  margin-top: 18px;
  .tool-btn {
    min-width: 75px;
    display: flex;
    justify-content: center;
  }
  .work-progress {
    opacity: 0;
    transition-duration: 0.3s;
    z-index: -1;
    position: relative;
    &.active {
      z-index: 1;
      opacity: 1;
    }
  }
  .download-link {
    font-size: 1.4rem;
  }
  .position-hint {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    user-select: none;
    right: 0;
    margin-right: 32px;

    transition-duration: 0.3s;
    &.active {
      opacity: 1;
    }
  }
}
